---
import LinkButton from "@/components/LinkButton.astro";
import { tplStr, useTranslations } from "@/i18n";
import { loadSocialIcons } from "@/utils/loadSocialIcons";
import config from "@/config";

const { shareLinks } = config;
const t = useTranslations(Astro.currentLocale);

const pageUrl = Astro.url;

const capitalize = (s: string) => s.charAt(0).toUpperCase() + s.slice(1);

const items = await loadSocialIcons(shareLinks, (name, _url, linkTitle) => {
  if (linkTitle) return linkTitle;
  if (name === "mail") return t.post.sharePostViaEmail;
  return tplStr(t.post.sharePostOn, { platform: capitalize(name) });
});
---

{
  items.some(({ Icon }) => Icon) && (
    <div class="flex flex-none flex-col items-center justify-center gap-1 md:items-start">
      <span class="italic">{t.post.sharePostIntro}</span>
      <div class="text-center">
        {items.map(({ url, title, Icon }) =>
          Icon ? (
            <LinkButton
              href={`${url}${pageUrl}`}
              class="scale-90 p-2 hover:rotate-6 sm:p-1"
              title={title}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
              <span class="sr-only">{title}</span>
            </LinkButton>
          ) : null
        )}
      </div>
    </div>
  )
}
