---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import { getUniqueCategories } from "@/utils/getUniqueCategories";
import { useTranslations } from "@/i18n";
import config from "@/config";

const posts = await getCollection("posts");
const categories = getUniqueCategories(posts);

const locale = Astro.currentLocale ?? config.site.lang;
const t = useTranslations(locale);
---

<Layout title={`${t.pages.categoriesTitle} | ${config.site.title}`}>
  <Header />

  <Breadcrumb />

  <Main pageTitle={t.pages.categoriesTitle} pageDesc={t.pages.categoriesDesc}>
    <ul class="flex flex-wrap gap-6">
      {categories.map(({ category, categoryName }) => (
        <li>
          <a
            href={getRelativeLocaleUrl(locale, `category/${category}/`)}
            class="flex items-center gap-0.5 border-foreground border-b-2 border-dashed text-lg hover:border-accent hover:text-accent hover:-mt-0.5 focus-visible:text-accent focus-visible:border-none transition-all"
          >
            {categoryName}
          </a>
        </li>
      ))}
    </ul>
  </Main>

  <Footer />
</Layout>
