---
import { getEntry, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import config from "@/config";

const contact = await getEntry("pages", "contact");

if (!contact) {
  throw new Error(
    "Missing content entry: `contact.md` or `contact.mdx` in `src/content/pages/`"
  );
}

const { Content } = await render(contact);
---

<Layout
  title={`${contact.data.title} | ${config.site.title}`}
  description={contact.data.description}
  ogImage={contact.data.ogImage}
  canonicalURL={contact.data.canonicalURL}
>
  <Header />

  <Breadcrumb />

  <Main pageTitle={contact.data.title} class="app-prose">
    <Content />
  </Main>

  <Footer />
</Layout>
